html {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hero {
    background-color: rgb(230, 230, 190);
    padding: 20px;
}

.head-container {
    text-align: center;
}